<form {{action 'save' model on='submit'}}>
  <p>{{input value=model.title placeholder="Title" name="title"}}</p>
  <p>{{textarea value=model.description placeholder="Description" name="title"}}</p>

  <button> Create To Do List </button><br>
  <a href="/todo_lists">Back</a>
</form>
