<table>
  <tr>
    <th>Title</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

  {{#each model as |todo_list|}}
    <tr>
      <td>
        {{#hover-cards model=lead todo = todo_list type="lead"}}
        {{/hover-cards}}
      </td>
      <td>
        {{#hover-cards model=contact todo = todo_list type="contact"}}
        {{/hover-cards}}
      </td>
      <td>
        {{#hover-cards model=account todo = todo_list type="account"}}
        {{/hover-cards}}
      </td>
       <td>
         {{#link-to 'todo_list.edit' todo_list}}edit{{/link-to}}
      </td>
       <td>
        <a href="#" {{action 'deleteAfterConfirm' todo_list.id }}>Destroy</a>
      </td>
    </tr>
  {{/each}}
</table>
<a href="todo_list/new">Create To Do List</a>